
*.dll
*.exe*
*.gproj
*.txt
*.vdf
*.bisign
**/*.pbo
**/*.paa

\!dzsal
\!Workshop
/@AirStrike
@DeerIsle
@CF
@VPPAdminTools
/ItsATreeeModSource/src/**/*.png
!/ItsATreeeModSource/src/dayz_tools/**/*.png
/Addons
BattlEye
bliss
dta
Missions
Launcher