
*.dll
*.exe*
*.gproj
*.txt
*.vdf
*.bisign
**/*.pbo
**/*.paa
**/*.ogg
**/*.p3d
**/*.tga
**/*thing.obf
*.rar
*.bin
*.cpp.ignore


/temp/
/.vscode/
/bin/
/Core/
/DZ*/
/graphics/
/gui/
/Keys/
/languagecore/
/Mods/
/scripts/
/system/
/dta/

@*
Survivalists_Armbands_Flags/
Survivalists_Weapons/
Survivalists_Weapons_JMC/
DeerIsle/
Survivalists_Investor/
Survivalists_Mods/keys/
DeerIsle_DebugDoor/
DeerIsle_DebugTemps/
WindstrideClothing/
TheUnit/
RnD*
VPPAdminTools/
Alv_Tac_Gear/
Alv_Tac_Gear_1/
ALV_UN*
Source_Files/
SRP_Scripts_Server/
crab/
VanillaPPMap/
WRDG/
CodeLock/
TheSurvivalists/
Dayz_Croco/
dayz_raven/
Raft/

Dressupbox_WorldRadio/
Dressupbox_Weapons/
Dressupbox_Vehicles/
Dressupbox_Suits/
Dressupbox_Structures/
Dressupbox_Scripts/
Dressupbox_Retexture/
Dressupbox_Mutants/
Dressupbox_MapEvents/
Dressupbox_Items/
Dressupbox_Investor/
Dressupbox_Cyber/
Dressupbox_Core/
Dressupbox_Anims/
Dressupbox_AI/
Dressupbox/
Dressupbox_WorldTerminal/
Dressupbox_WorldPower/
Dressupbox_UnderWear/
Dressupbox_DualWield/
Dressupbox_AutoTurrets/
Dressupbox_Sounds/

Tombstone/
TombstoneMission/
Buldozer*